*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
}
body{
    width:100%;
    min-width:100vh;
    background:linear-gradient(135deg,rgb(135, 65, 215),white);
    background-attachment: fixed;
    height: 100%;
}

/* main card */
.container{
    background-color:#8E7AB5;
    margin: 60px auto;
    padding: 30px;
    max-width: 470px;
    width:90%;
    border-radius:25px;
}
/* adding element */
.add{
    display:flex;
    justify-content: space-between;
    margin:10px 0 20px 0  ;
    background-color: beige;
    border-radius: 20px;
}

.add > input{
    width:100%;
    padding: 10px 10px;
    outline:0px;
    border:0px;
    font-size:18px;
    color:#B784B7;
    font-weight:25px;
    background:transparent;

}
::placeholder{
    color:#B784B7;
    opacity: 0.5;
}
.add > .addbtn{
    border-radius:18px;
    outline:0px;
    border:0px;
    padding:15px 35px;
    background-color: #B784B7;
    color:white;
} 
/* adding css to the task area */
.task{
    margin-left:25px;
    display: none;
}
.tasks  li{
    font-size :18px;
    margin:5px 0;
    color:white;
    list-style-type:circle;  
}
.tasks{
    display:flex;
    justify-content: space-between;
    padding: 10px 30px 10px 5px;    
    
}
.tasks button{
    border-radius: 30%;
    height: 20px;
    border:0;
    outline:0;
    color:#F0EAD6;
    background-color: #8E7AB5;
    font-size:20px;
}

/* Animation to disappear element */
@keyframes disappear{
    0%{
        opacity: 1;
        
    }
    50%{
        opacity:0.5;
        
    }
    100%{
        display:none;
        opacity:0;
        
    }
    
}

